* {
  margin: 0;
  padding: 0px;
}

body {
  margin: 5px 50px;
  font-size: 16px;
}

ul {
  height: 50px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
  width: 50px;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.header {
  position: fixed;
  top: 0px;
  width: calc(100% - 106px);
}

.backimage {
  background-image: url("https://www.petasos.gr/wp-content/uploads/2014/07/leclub-restaurant-slide1-03.jpg");
  background-repeat: no-repeat;
  background-size: calc(100% - 6px) 550px;
  margin-bottom: 15px;
  margin-top: 53px;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: greenyellow;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.formcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  color: blue;
  font-size: 25px;
}

.gridItem {
  border: 2px solid rgb(6, 39, 25);
  background: rgb(6, 39, 37);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

#container {
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: minmax(60px, auto);
}

footer {
  grid-column: 1/12;
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: minmax(60px, auto);
}

#foot1 {
  grid-column: 1/4;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

#foot2 {
  grid-column: 5/8;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

#foot3 {
  grid-column: 9/12;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
}