* {
  margin: 0;
  padding: 0px;
}

body {
  margin: 5px 50px;
  font-size: 16px;
}

ul {
  height: 50px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
  width: 50px;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.header {
  position: fixed;
  top: 0px;
  width: 1250px;
}

.backimage {
  background-image: url("http://static.asiawebdirect.com/m/bangkok/portals/bali-indonesia-com/homepage/kuta-beach/dining/allParagraphs/BucketComponent/ListingContainer/011113/image/bene-kuta.jpg");
  background-repeat: no-repeat;
  background-size: 1250px 550px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: lightcoral;
}

h1 {
  color: blue;
  font-size: 25px;
}

.column {
  float: left;
  padding: 30px;
}

.column.side {
  width: 18%;
  border: 2px solid #efefefef;
  margin-top: 20px;
  text-align: justify;
  padding: 30px;
  background-color: rgb(47, 23, 126, 0.3);
}

.column.middle {
  width: 45%;
  padding: 30px;
  border: 2px solid #eeeeee;
  margin: 20px;
  text-align: justify;
  background-color: rgb(240, 238, 238);


}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {

  .column.side,
  .column.middle {
    width: 100%;
  }
}


.gridItem {
  border: 2px solid lightseagreen;
  background: lightseagreen;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

#container {
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: minmax(60px, auto);
}

footer {
  grid-column: 1/12;
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: minmax(60px, auto);
}

#nav1 {
  grid-column: 1/4;
  font-size: 20px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

#nav2 {
  grid-column: 5/8;
  font-size: 20px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

#nav3 {
  grid-column: 9/12;
  font-size: 20px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
}